{% assign id = page.url | split: '/' | last | split: '.' | first | plus: 0 %}
<table>
    <tr>
        <td>
        {% if id > 1 %}
            <a href="{{ id | minus: 1 }}">Previous Comic</a>
        {% endif %}
        </td>
        <td>
            <a href="javascript:location.href=Math.floor(Math.random()*{{ site.last_comic }})+1">Random Comic</a>
        </td>
        <td>
        {% if id != site.last_comic %}
            <a href="{{ id | plus: 1 }}">Next Comic</a>
        {% endif %}
        </td>
    </tr>
</table>
